.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #00000072, #000000);
}

#imageback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: 4;
}


body {
    font-family: Arial, sans-serif;
}

/* Kontainer Umum */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
}

/* Menggabungkan .box dan .box1 */
.box, .box1 {
    width: 90%;
    max-width: 1300px;
    height: auto;
    margin: 3% auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ffcdb2, #b35f6f);
    color: #1a1917;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.pop-up.visible {
    opacity: 0.9;
    transform: translateY(0);
}

/* Game Container */
#game-container {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Input dan Tombol */

}

/* List Karakter */
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
    padding: 20px;
}

.character {
    display: flex;
    align-items: center;
    gap: 15px;
}

.character img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container2 {
        grid-template-columns: 1fr; /* Satu kolom untuk layar kecil */
    }

    .character img {
        width: 60px;
        height: 60px;
    }

    .box, .box1 {
        font-size: 16px;
    }
}


input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
